temp+2
temp-2
FullTemp+2
*.DS_Stor
*.eps
*.png
*#
*.eps
*.slurm
slurm.*
*.txt
*.log
*.err
*~
Observation_rawdata/
Transport_Operator
Code_48layer/debug_log/
Code_48layer/Results/
DATA/BGC_2023Nature/biopump_model_output_Nowicki.nc
DATA/BGC_48layer/.Initial_COfield_91x180x48.mat.swp
DATA/BGC_48layer/NPP_climatology.mat
DATA/BGC_48layer/OCIM2_CTL_He_48layer.mat
*OCIM2_CTL_He.mat
DATA/BGC_24layer/C2Puptake_CellModel_opt_GBC2024.mat
Code_24layer/
Code_Merge/
Code_withCellModel/output/
Code_withCellModel/testing/
*.xlsx
*.out
.vscode/
