temp+2
temp-2
FullTemp+2
*.eps
*.png
*#
*.eps
*.slurm
slurm.*
*.txt
*.log
*.err
*.mat
*~
run_slurm.sh
Observation_rawdata/
Transport_Operator
Code_48layer/debug_log/
Code_48layer/Results/
DATA/BGC_2023Nature/biopump_model_output_Nowicki.nc
DATA/BGC_48layer/.Initial_COfield_91x180x48.mat.swp
DATA/BGC_48layer/NPP_climatology.mat
DATA/BGC_48layer/OCIM2_CTL_He_48layer.mat
DATA/BGC_2023Nature/OCIM2_CTL_He.mat
Code_24layer/
Code_Merge/
*.xlsx
*.out
