temp+2
temp-2
FullTemp+2
*.eps
*.png
*#
*.eps
*.slurm
slurm.*
*.txt
*.log
*.err
*.mat
Pdebug*
.remote-sync.json
run_futureproj/*
TEST_Cellinit/*
TEST_compare2Tonly/*
*~
OutputData90/
OutputData91/
Cexp/
Figs90/
Figs91/
GHtest/
MSK90/
MSK91/
MINMAX/
PME4DICALK/
Zscore/
